Orquestra3_SIAD/Orquestra3_SIAD/Web References/QueryString/querystring.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.cryo.com.br/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.cryo.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.cryo.com.br/">
      <s:element name="Decrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DecryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptionType">
        <s:complexType />
      </s:element>
      <s:element name="EncryptionTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptionTypeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DecryptSoapIn">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="DecryptSoapOut">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptionTypeSoapIn">
    <wsdl:part name="parameters" element="tns:EncryptionType" />
  </wsdl:message>
  <wsdl:message name="EncryptionTypeSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptionTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="QueryStringSoap">
    <wsdl:operation name="Decrypt">
      <wsdl:input message="tns:DecryptSoapIn" />
      <wsdl:output message="tns:DecryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncryptionType">
      <wsdl:input message="tns:EncryptionTypeSoapIn" />
      <wsdl:output message="tns:EncryptionTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueryStringSoap" type="tns:QueryStringSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://www.cryo.com.br/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://www.cryo.com.br/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptionType">
      <soap:operation soapAction="http://www.cryo.com.br/EncryptionType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueryStringSoap12" type="tns:QueryStringSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Decrypt">
      <soap12:operation soapAction="http://www.cryo.com.br/Decrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://www.cryo.com.br/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptionType">
      <soap12:operation soapAction="http://www.cryo.com.br/EncryptionType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QueryString">
    <wsdl:port name="QueryStringSoap" binding="tns:QueryStringSoap">
      <soap:address location="http://localhost/webservice/v2.5/querystring.asmx" />
    </wsdl:port>
    <wsdl:port name="QueryStringSoap12" binding="tns:QueryStringSoap12">
      <soap12:address location="http://localhost/webservice/v2.5/querystring.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>